node_modules
data_input_sim/__pycache__/__init__.cpython-312.pyc
data_input_sim/src/__pycache__/constraint_validation.cpython-312.pyc
data_input_sim/src/__pycache__/data_simulation.cpython-312.pyc
data_processing_visualization/__pycache__/__init__.cpython-312.pyc
data_processing_visualization/src/__pycache__/graphing_tool.cpython-312.pyc
data_processing_visualization/src/__pycache__/htmlData.cpython-312.pyc
data_processing_visualization/src/__pycache__/WateringSchedule.cpython-312.pyc
user_interface/src/flask/__pycache__/app.cpython-312.pyc
data_input_sim/__pycache__/__init__.cpython-312.pyc
data_input_sim/src/__pycache__/constraint_validation.cpython-312.pyc
data_input_sim/src/__pycache__/data_simulation.cpython-312.pyc
data_processing_visualization/__pycache__/__init__.cpython-312.pyc
data_processing_visualization/src/__pycache__/graphing_tool.cpython-312.pyc
data_processing_visualization/src/__pycache__/htmlData.cpython-312.pyc
data_processing_visualization/src/__pycache__/WateringSchedule.cpython-312.pyc
user_interface/src/flask/__pycache__/app.cpython-312.pyc
user_interface/src/frontend/public/graphs/DataTables.html
user_interface/src/frontend/public/graphs/RawHumidity.html
user_interface/src/frontend/public/graphs/RawTemperature.html
user_interface/src/frontend/public/graphs/simulated_data.html
user_interface/src/frontend/public/graphs/watering_schedule.html
