/* AboutPage.css*/
.containerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.marginTop40,
.marginTop20 {
  margin-top: 40px;
  width: 100%;
}

.imageStyle {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-lg-6,
  .col-md-6 {
    width: 50%;
  }
}

.nonClickable {
  opacity: 0.5;
  cursor: default;
}