/* ChooseYourPlantPage.css */
.choosePlantContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.choosePlantHeader {
  text-align: center;
}

.choosePlantHeader h1 {
  font-size: 3rem;
}

.choosePlantHeader p {
  font-size: 1.5rem;
}

.plantInput {
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px 0;
}

.addPlantButton {
  font-size: 1.5rem;
  padding: 10px 20px;
}

.plantsDisplayBox {
  width: 90%;
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plantList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.plantItem {
  font-size: 1.5rem;
  width: calc(16.666% - 20px); /* Half of the original 33.333% */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.plantText {
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.plantImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.removePlantButton {
  font-size: 1.5rem;
  margin-left: 20px;
}

.plantDetailsPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
}
