/* HomePage.css */
.containerStyle {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two-column layout */
  gap: 20px; /* Space between the boxes */
  justify-content: center; /* Center the boxes horizontally */
  padding: 20px; /* Padding inside the container */
  margin: 40px auto; /* Increase the top and bottom margin if needed */
}

.boxLink {
  text-decoration: none;
  grid-column: span 1; /* The link will span one column */
  place-self: center; /* Center the link in the grid cell */
}

.boxStyle {
  width: 1000px; /* size of boxes */
  height: 820px; /* size of boxes */
  margin-bottom: 20px;
  margin-right: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4b5b2b;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.8rem; /* Adjust the font size as necessary */
}

.imageStyle {
  width: 100%; /* Image will fill the width of the box */
  height: auto; /* Height will scale according to the width */
  object-fit: cover;
  border-top-left-radius: 10px; /* Round the top corners */
  border-top-right-radius: 10px;
}

.boxFooter {
  width: 100%; /* Footer will fill the width of the box */
  padding: 10px 0; /* Padding at the top and bottom of the footer */
  display: flex;
  align-items: center;
  justify-content: center;
}
