{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to PRIA {% endblock %}</h1>
<div class="clickable-box">
    <a href="{{ url_for('graphs') }}"> 
        <div class="box-content">
            <div class="box-image">
                <img src="{{ url_for('static', filename='pictures/GraphPicForGraphsBox.png') }}" alt="Graphs Image" width="100%" height="100%">
            </div>
            <div class="box-text">
                Your Graphs
            </div>
        </div>
    </a>
</div>

    
{% endblock %}