{% extends 'base.html' %}

{% block content %}
    <div class="text-center mt-5">
        <h1>{% block title %} What is PRIA {% endblock %}</h1>
    </div>

    <div class="mt-3">
        <p class="lead">
            PRIA is a self-hosted web application garden management system to aid gardeners, either new or experienced. 
            We aim to provide gardeners with the necessary tools to know when to plant, manage nutrients and water content in the soil,
            and better improve their gardening capabilities while improving their plant’s health and growth.

        </p>
        <!-- Add more text or content as needed -->
    </div>
{% endblock %}